body {
    background-color: #121314;
    color: #FFFFFF; /*#58595C*/
}

.header {
    background-color: #1C1C1F;
    color: #84BD00;
    vertical-align: middle;
}

.title {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    margin: 0 1rem 0 0;
}

.search {
    text-align: center;
}

.btn {
    background-color: #84BD00;
    width: 33%;
    height: 3rem;
    margin-top: 2rem;
}

.container-search {
    margin: 4rem auto;
    margin-top: 20%;
    width: 100%;
    padding: 4rem 2rem;
    background-color: #1C1C1F;
}

.container-search.activated {
    margin-top: 4rem;
    transition: margin-top 1.5s ease-out;
}

.playlist-card {
    color: #121314;
    max-height: 200px;
}

.playlist-card img {
    min-width: 80px;
    max-width: 300px;
    height: 120px;
}

.playlist-card .card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
}

.playlist-card .card-content p {
    text-overflow: ellipsis;
}

.playlist-card .card-content-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    background-color: #1C1C1F;
    color: white;
    z-index: 10;
    overflow: auto;
    cursor: pointer;
    transition: opacity 0.25s;
}

.playlist-card .card-content-hover p {
    margin-top: 0;
    margin-bottom: 4px;
}

.playlist-card .card-action {
    height: 40px;
}

.playlist-card .card-action .card-link {
    color: #84BD00 !important;
}

.playlist-card .card-content, .playlist-card .card-action {
    padding: 10px 15px;
}

.bulb {
    height: 24px;
    transition: all 0.5s;
}

.bulb.g {
    border: 3px solid #84BD00;
    background-color: rgba(132, 189, 0, 0.5);
    box-shadow: 0 0 7px #84BD00;
}

.bulb.r {
    border: 3px solid #ef5350;
    background-color: rgba(239, 83, 80, 0.5);
    box-shadow: 0 0 5px #ef5350;
}

.bulb.n {
    opacity: 0.6;
    border: 3px solid #bdbdbd;
    background-color: rgba(189, 189, 189, 0.5);
}

.quiz-title {
    text-align: center;
}

.song-cover-img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.quiz-option {
    cursor: pointer;
}

.quiz-option:hover {
    box-shadow: 0px 0px 15px 5px #84BD00;
    transition: box-shadow .3s;
}

.fade-in-appear {
    opacity: 0.01;
}

.fade-in-appear.fade-in-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.slide-in-appear {
    opacity: 0.01;
    margin-top: 100%;
}

.slide-in-appear.slide-in-appear-active {
    opacity: 1;
    margin-top: 0;
    transition: all .5s ease-out;
}

.audio {
    position: relative;
    display: block;
    width: 100%;
}